.btn-delete {
    cursor: pointer;
    cursor: hand;
}

ul#user-list {
    list-style-type: none;
}



body {
		font-family: 'Open Sans Condensed', 'Raleway', Arial, sans-serif;
		font-size: 14pt;
		letter-spacing: 0.09em;
		line-height: 1.65em;
	}

body h1 {
    font-size: 2em;
    text-transform: uppercase;
}
footer {
  background-color: #0D4D4D;
  padding: 4em 0 3em 0;
  text-align: center;

}
footer p {
    color: #fff;
    font-size: .7em;
    text-transform: uppercase;
}

footer a {
    color: #fff;
  }

footer a:hover {
    color: #B4ACAC;
}

#teste {
  background-image: url("./../images/dead3.jpg");
  background-repeat: no-repeat;
  background-color: #000;
  height:300px;
  width:100%;

}
/* Banner */

	#banner {
		background-color: #3D9EA3;
		color: #ffffff;
		padding: 8em 0 6em 0;
		text-align: center;
    /*-webkit-box-shadow: 10px 10px -10px 10px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 10px 10px -10px 10px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 10px 10px -10px 10px rgba(0, 0, 0, 0.1) inset; */
	}

  #banner h2 {
    font-weight: 200;
  }

  #banner strong {
    font-weight:bold;
  }

  #box {
    border: 1px solid #fff;
    box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.3);
    height: 200px;
    margin: 0 auto;
    outline: 1px solid #fff;
    outline-offset: 3px;
    width: 600px;
  }

/* botão */


  .button {
		cursor: pointer;
		display: inline-block;
		height: 2.85em;
		line-height: 2.95em;
		padding: 0 1.5em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
	}

  button.special,
  		.button.special {
  			background-color: #407F7F;
  			color: #ffffff !important;
  		}

  			button.special:hover,
  			.button.special:hover {
  				background-color: #3D9EA3;
          border: 1px solid #fff;
  			}

  			button.special:active,
  			.button.special:active {
  				background-color: #00b4b5;
  			}

  .btn-down {
    margin-top: 30px;
  }

  .subtitle {
    color: #BDBEBE;
    font-family: 'Open Sans Condensed', 'Raleway', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    margin-top: 100px;
    text-transform: uppercase;
}
